<p id="notice"><%= notice %></p>
<%= display_image %>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Story:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Image:</strong>
  <%= @article.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user_id %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @article.createdAt %>
</p>
<%= render 'form2', vote: @vote %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
