<div class="grid-container cat_grid">
  <% @article.each do |it| %>
    <div class="item1">
      <p class="cat_title"><%= it.title %> </p>
      <p class="cat_text"><%= it.text %> </p>
      <%= render 'form3', vote: @vote %>
      <p  class="cat_auth_name"><span style="color: red;">Written By:</span>&nbsp; <%= us_name(it.user_id) %></p>
      
    </div>
    <div class="item2">
      <%= image_tag("#{url_for(it.image)}", style: ' height: 100%; width: 100%; object-fit: cover;')%>
    </div>
  <%end %>
</div>
